body {

    
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #592727, #643b3b);
    /* color: #333; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container1 {
    
    text-align: center;
    padding: 20px;
    background-color: rgb(247, 181, 181);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 600px;
    margin: auto;
}

h1, h2 {
    color: #091509;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: rgb(154, 30, 30);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5b5293;
}

footer.footer1 {
    background-color: #3c2223;
    color: rgb(235, 138, 138);
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

#vendorList {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

#vendorList li {
    background-color: #d39d9d;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #170404;
}

.body_customer{ background-image: url(back.png);
    background-repeat: no-repeat;
    background-position: center;

}
